@import "./variables";

.aboutContainer {
  // border: 2px solid $navHoverColor;
//   margin-bottom: 0.2rem;

  p {
    // font-family: "Lora";
    font-size: 1.4rem;
    line-height: 1.5rem;
    font-weight: 400;
    // text-justify: distribute;;
  }
}
