@import "./variables";
.container {
  background-color: $light-bgColor;
  padding: 2rem;
}
.buttonDiv {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-bottom: 1.2rem;
  background: $icon-footer-color;

  align-items: center;
  &:hover {
    cursor: pointer;
    background: $icon-footer-color-dark;
  }
}

.dashIcon {
  width: 2rem;
  font-size: 4rem;
}
