@import "./variables";

.brand {
  color: $navHoverColor;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;
  &:hover {
    color: $navHoverColor;
    text-decoration: none;
  }
}

.navbar-toggler-icon {
  background-color: yellow;
}

.navBar {
  background: $navbar-bg;
}

.navLinks {
  font: "Lora";
  font-style: italic;
}

.navLink {
  font-size: 1.1rem;
  color: $navLinkColor;
  text-decoration: none;
  &:hover {
    color: $navLinkColor;
    text-decoration: none;
    border-bottom: 2px solid $navHoverColor;
    font-size: 1.2rem;
    transition: all ease-in-out 0.25s;
  }
}
